@{
    ViewData["Title"] = "Payment Page";
}
@model BarclayPG.Models.OrderInformationVM

<div class="">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form asp-action="PaymentSummary" asp-controller="Home">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <h5>Order Amount</h5>
                <hr />
                <div class="form-group">
                    <label asp-for=Amount></label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">£</span>
                      </div>
                        <input type="text" class="form-control" asp-for=Amount placeholder="Amount" aria-describedby="basic-addon1">
                    </div>
                    <small class="form-text text-muted">This is the amount that you want your customer to pay using the gateway. You will pre calculate and show.</small>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <br />
                <h5>Billing Information</h5>
                <hr />
                <div class="form-group">
                    <label asp-for=CustomerName></label>
                    <input class="form-control" asp-for=CustomerName placeholder="Billing Person Name">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=CustomerEmail></label>
                    <input class="form-control" asp-for=CustomerEmail placeholder="Billing Person Email">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=CustomerZip></label>
                    <input class="form-control" asp-for=CustomerZip placeholder="Billing Person Zip">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerZip" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=CustomerAddress></label>
                    <input class="form-control" asp-for=CustomerAddress placeholder="Billing Person Address">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=CustomerCity></label>
                    <input class="form-control" asp-for=CustomerCity placeholder="Billing Person City">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=CustomerTown></label>
                    <input class="form-control" asp-for=CustomerTown placeholder="Billing Person Town">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerTown" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=CustomerTelephoneNo></label>
                    <input class="form-control" asp-for=CustomerTelephoneNo placeholder="Billing Person Telephone/Mobile No">
                    <small class="form-text text-muted">You may want to prefill with your customer billing information.</small>
                    <span asp-validation-for="CustomerTelephoneNo" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
