@{
    ViewData["Title"] = "Payment Summary Page";
}
@model BarclayPG.Models.PaymentSummaryVm

<div class="">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form>
                <br />
                <h6>Order Amount</h6>
                <hr />
                <div class="form-group">
                    <input type="text" class="form-control" asp-for=Amount placeholder="Amount" aria-describedby="basic-addon1">
                </div>
            </form>
        </div>
    </div>
</div>
